@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul,
ol,
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}
html {
  overflow-x: hidden;
}
.wrap {
  position: relative;
}
header {
  font-family: 'Oswald', 'Calibri', 'Malgun Gothic', sans-serif;
}
body {
  font-family: 'Malgun Gothic', sans-serif;
}
@keyframes bar {
  from {
    left: 0px;
    width: 0px;
  }
  to {
    left: 48px;
    width: 220px;
  }
}
@keyframes barTwo {
  from {
    left: 48px;
    width: 0px;
  }
  to {
    left: 268px;
    width: 220px;
  }
}
@keyframes barThree {
  from {
    left: 268px;
    width: 0px;
  }
  to {
    left: 488px;
    width: 220px;
  }
}
@keyframes barFour {
  from {
    left: 488px;
    width: 0px;
  }
  to {
    left: 708px;
    width: 220px;
  }
}
@keyframes barFive {
  from {
    left: 708px;
    width: 0px;
  }
  to {
    left: 928px;
    width: 220px;
  }
}
@keyframes longline {
  from {
    width: 22px;
  }
  to {
    width: 14px;
  }
}
@keyframes shortline {
  from {
    width: 16px;
  }
  to {
    width: 22px;
  }
}
#nav {
  width: 100%;
  height: 80px;
  background-color: #000;
  position: fixed;
  z-index: 99;
}
#nav .bg {
  width: 100%;
  height: 227px;
  display: none;
  background-color: #FFF;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: -1;
}
#nav .bar {
  position: absolute;
  top: 63px;
  left: 0;
  border-bottom: 3px solid #008889;
  width: 0px;
  height: 14px;
  overflow: hidden;
}
#nav .top_header {
  max-width: 1200px;
  height: 80px;
  margin: 0 auto;
}
#nav .top_header h1.logo {
  height: 43px;
  width: 63px;
  position: absolute;
  left: 21px;
  top: 18px;
  z-index: 1100;
}
#nav .top_header h1.logo img {
  width: 100%;
  height: 100%;
}
#nav .top_header .gnb {
  width: 100%;
  height: 80px;
  float: left;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
}
#nav .top_header .gnb > ul {
  display: block;
  position: relative;
  text-align: center;
}
#nav .top_header .gnb > ul > li {
  display: inline-block;
  width: 220px;
  font-size: 16px;
  font-weight: 600;
  margin-left: -3px;
}
#nav .top_header .gnb > ul > li:hover .bar {
  animation: bar 0.3s ease-out both normal;
}
#nav .top_header .gnb > ul > li:nth-child(2):hover .bar {
  animation: barTwo 0.3s ease-out both normal;
}
#nav .top_header .gnb > ul > li:nth-child(3):hover .bar {
  animation: barThree 0.3s ease-out both normal;
}
#nav .top_header .gnb > ul > li:nth-child(4):hover .bar {
  animation: barFour 0.3s ease-out both normal;
}
#nav .top_header .gnb > ul > li:nth-child(5):hover .bar {
  animation: barFive 0.3s ease-out both normal;
}
#nav .top_header .gnb > ul > li > a {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  color: #FFF;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: 0.04em;
}
#nav .top_header .gnb > ul > li > a:hover {
  color: #008889;
  transition: all ease-in 0.3s;
}
#nav .top_header .gnb .snb_wrap {
  display: none;
  background-color: #FFF;
  width: 100%;
  margin: 0 auto;
  border-left: 1px #ededed solid;
}
#nav .top_header .gnb .snb_wrap .snb {
  max-width: 1200px;
  height: 227px;
  overflow: hidden;
  z-index: 111;
  position: relative;
  margin: 0 auto;
}
#nav .top_header .gnb .snb_wrap .snb ul {
  display: inline-block;
}
#nav .top_header .gnb .snb_wrap .snb ul li {
  width: 220px;
  height: 40px;
  float: none;
  font-size: 14px;
}
#nav .top_header .gnb .snb_wrap .snb ul li:first-child {
  margin-top: 20px;
}
#nav .top_header .gnb .snb_wrap .snb ul li:hover {
  transition: all ease-in 0.3s;
}
#nav .top_header .gnb .snb_wrap .snb ul li a {
  display: block;
  line-height: 40px;
  height: 40px;
  color: #000;
  font-weight: normal;
  font-family: 'Nanum Gothic', sans-serif;
}
#nav .top_header .gnb .snb_wrap .snb ul li a:hover {
  border-bottom: 1px #008889 solid;
  color: #008889;
  transition: all ease-in 0.3s;
}
#nav .top_header .gnb2 #gnb_right {
  width: 240px;
  height: 100%;
  background-color: #FFF;
  position: fixed;
  right: -240px;
  transition: 0.3s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3000;
}
#nav .top_header .gnb2 #gnb_right li {
  display: block;
  width: 100%;
  border-bottom: 1px #CCC solid;
  float: left;
}
#nav .top_header .gnb2 #gnb_right li a {
  display: block;
  font-size: 14px;
  line-height: 1.3em;
}
#nav .top_header .gnb2 #gnb_right li a span {
  display: block;
  padding: 26px 25px 24px 17px;
}
#nav .top_header .gnb2 #gnb_right li a i {
  position: absolute;
  right: 10px;
}
#nav .top_header .gnb2 #gnb_right .hidden_slide {
  display: none;
}
#nav .top_header .gnb2 #gnb_right .hidden_slide li {
  border: 0;
  border-top: 1px #ccc solid;
  background-color: #eee;
  padding: 10px 25px 10px 17px;
}
#nav .top_header .gnb2 #gnb_right .hidden_slide li a {
  font-size: 14px;
}
#nav .top_header .gnb2 #gnb_right .hidden_slide li a:hover {
  color: #666;
  transition: 0.3s;
}
#nav .top_header .menu_btn {
  z-index: 999;
  position: absolute;
  top: 27px;
  right: 8px;
  padding-right: 50px;
}
#nav .top_header .menu_btn span {
  display: inline-block;
  text-align: center;
}
#nav .top_header .menu_btn .home {
  width: 40px;
  height: 35px;
  background: url('http://www.tkgroup.co.kr/kor/_Img/Layout/home-ico.png') no-repeat center;
  background-color: #222;
  position: absolute;
  top: -3px;
  right: 99px;
}
#nav .top_header .menu_btn .home:hover {
  opacity: 0.9;
  background-color: #555;
  transition: all ease 0.3s;
}
#nav .top_header .menu_btn .eng {
  width: 45px;
  height: 35px;
  background-color: #086c6d;
  font-size: 13px;
  color: #FFF;
  line-height: 35px;
  transition: all ease 0.3s;
  position: absolute;
  top: -3px;
  right: 54px;
  font-family: 'Roboto', sans-serif;
}
#nav .top_header .menu_btn .eng:hover {
  background-color: #199394;
}
#nav .top_header .menu_btn .lines {
  position: absolute;
  top: -3px;
  right: 5px;
  width: 40px;
  height: 36px;
}
#nav .top_header .menu_btn .lines:hover .line1,
#nav .top_header .menu_btn .lines:hover .line3 {
  animation: longline 1s ease-out both infinite alternate;
}
#nav .top_header .menu_btn .lines:hover .line2 {
  animation: shortline 1s ease-out both infinite alternate;
}
#nav .top_header .menu_btn .lines .line1 {
  width: 22px;
  height: 2px;
  background: #FFF;
  position: absolute;
  right: 10px;
  top: 11px;
}
#nav .top_header .menu_btn .lines .line2 {
  width: 16px;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  right: 10px;
  top: 19px;
}
#nav .top_header .menu_btn .lines .line3 {
  width: 22px;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  right: 10px;
  top: 27px;
}
#nav #scrolltotop {
  position: fixed;
  bottom: 35%;
  right: 0px;
}
#nav #scrolltotop a {
  display: block;
  background-color: #000;
}
#nav #scrolltotop span {
  font-family: 'Nanum Gothic', sans-serif;
  width: 55px;
  height: 25px;
  display: block;
  background: url("http://www.tkgroup.co.kr/kor/_Img/Layout/top-btn.png") no-repeat center 15px;
  border-radius: 3px;
  color: #FFF;
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.4s ease-out;
}
#nav #scrolltotop a:hover {
  background-color: #008889;
  transition: all 0.4s ease-out;
}
.section_wrap {
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0 auto;
  text-align: center;
  z-index: 2000;
  height: 100%;
}
.section_wrap .top_image {
  vertical-align: top;
  width: 2000px;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -1000px;
}
.section_wrap .top_image img {
  max-width: 100%;
  height: 100%;
}
.section_wrap .content_start {
  position: relative;
  margin-top: 450px;
}
.section_wrap .content_start .sub_nav {
  border-top: 1px #CCC solid;
  width: 100%;
  position: absolute;
  top: -55px;
  left: 0;
}
.section_wrap .content_start .sub_nav ul {
  height: 55px;
  font-size: 0;
}
.section_wrap .content_start .sub_nav ul li {
  display: inline-block;
  width: 125px;
  height: 100%;
}
.section_wrap .content_start .sub_nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 16px;
  line-height: 55px;
  text-transform: uppercase;
  z-index: 1;
}
.section_wrap .content_start .sub_nav ul li .text {
  z-index: 20;
  position: relative;
}
.section_wrap .content_start .sub_nav ul li .bgg {
  display: block;
  width: 125px;
  height: 100%;
  background-color: rgba(5, 158, 159, 0.7);
  position: absolute;
  top: 100%;
  transition: 0.5s;
}
.section_wrap .content_start .sub_nav2 {
  display: none;
  border-top: 1px #CCC solid;
  width: 100%;
  position: absolute;
  top: -55px;
  left: 0;
  z-index: 99;
  overflow: hidden;
}
.section_wrap .content_start .sub_nav2 ul {
  font-size: 0;
}
.section_wrap .content_start .sub_nav2 ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #FFF;
  font-size: 16px;
  line-height: 55px;
  text-transform: uppercase;
  z-index: 1;
}
.section_wrap .content_start .sub_nav2 ul li a i {
  margin-left: 20px;
}
.section_wrap .content_start .sub_nav2 .hidden_slide {
  display: none;
}
.section_wrap .content_start .sub_nav2 .hidden_slide ul {
  height: 100%;
}
.section_wrap .content_start .sub_nav2 .hidden_slide li {
  background-color: #CCC;
  border-bottom: 1px #ededed solid;
}
.section_wrap .content_start .sub_nav2 .hidden_slide a {
  color: #000;
  line-height: 45px;
  font-size: 14px;
}
.section_wrap .content_start .content_top .text {
  margin: 0 auto;
  max-width: 1200px;
  padding: 66px 0;
  background-color: #FFF;
  position: relative;
}
.section_wrap .content_start .content_top .text .left {
  background: url('http://www.tkgroup.co.kr/kor/_Img/Layout/cont-prev.png') no-repeat;
  background-size: cover;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -30px;
}
.section_wrap .content_start .content_top .text .left:hover {
  background: url('http://www.tkgroup.co.kr/kor/_Img/Layout/cont-prev-o.png') no-repeat;
  background-size: cover;
}
.section_wrap .content_start .content_top .text .vision_kr {
  color: #000;
  font-size: 35px;
}
.section_wrap .content_start .content_top .text .right {
  background: url('http://www.tkgroup.co.kr/kor/_Img/Layout/cont-next.png') no-repeat;
  background-size: cover;
  width: 62px;
  height: 62px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -30px;
}
.section_wrap .content_start .content_top .text .right:hover {
  background: url('http://www.tkgroup.co.kr/kor/_Img/Layout/cont-next-o.png') no-repeat;
  background-size: cover;
}
.section_wrap .content_start .content_top:after {
  content: "";
  background: url('http://www.tkgroup.co.kr/kor/_Img/Content/vision-top.jpg') no-repeat center;
  background-size: 100%;
  width: 1920px;
  height: 100%;
  z-index: -1;
  display: block;
  margin-left: -1000px;
  position: absolute;
  top: -32%;
  left: 50%;
}
.section_wrap .content_start .content_middle {
  font-family: 'Oswald', 'Calibri', 'Malgun Gothic', sans-serif;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.section_wrap .content_start .content_middle .middle_1 h3 {
  color: #FFF;
  font-size: 28px;
  margin-top: 100px;
}
.section_wrap .content_start .content_middle .middle_1 div {
  color: #FFF;
  font-size: 44px;
  font-weight: 600;
}
.section_wrap .content_start .content_middle .middle_1 .fir {
  margin-top: 20px;
}
.section_wrap .content_start .content_middle .middle_1 .sec {
  line-height: 40px;
}
.section_wrap .content_start .content_middle .middle_1:after {
  content: "";
  background-image: url('http://www.tkgroup.co.kr/kor/_Img/Content/vision-bg.jpg');
  background-repeat: no-repeat;
  width: 2000px;
  height: 1600px;
  z-index: -2;
  display: block;
  margin-left: -50px;
  position: absolute;
  top: -200px;
  left: 0;
}
.section_wrap .content_start .content_end {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 220px;
}
.section_wrap .content_start .content_end .end_1 h2 {
  font-size: 20px;
  line-height: 45px;
  color: #000;
  font-weight: normal;
}
.section_wrap .content_start .content_end .end_1 h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.section_wrap .content_start .content_end .end_1 .line {
  width: 26px;
  height: 3px;
  color: black;
  display: inline-block;
}
.section_wrap .content_start .content_end p {
  width: 100%;
  height: 100%;
  position: relative;
}
.section_wrap .content_start .content_end .end_2,
.section_wrap .content_start .content_end .end_3 {
  position: relative;
  margin-top: 80px;
}
.section_wrap .content_start .content_end .end_2 img,
.section_wrap .content_start .content_end .end_3 img {
  margin-bottom: 100px;
  max-width: 100%;
}
.section_wrap .content_start .content_end .end_2 .grow_rev,
.section_wrap .content_start .content_end .end_3 .grow_rev {
  position: absolute;
  top: 80px;
  left: 50px;
  width: 123px;
  height: 48px;
  padding: 22px 0 0 45px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: url('http://www.tkgroup.co.kr/kor/_Img/Content/vision_bul.png') no-repeat 0 0;
}
.section_wrap .content_start .content_end .end_3 img {
  margin-bottom: 0;
}
.section_wrap .content_start .content_end .last {
  background: url('http://www.tkgroup.co.kr/kor/_Img/Content/vision_03.png') no-repeat center;
  width: 100%;
  height: 200px;
  z-index: 3;
  margin-top: 100px;
}
footer {
  position: relative;
}
footer .foot1_bg {
  width: 100%;
  background-color: #191919;
}
footer .top_foot_wrap {
  max-width: 1200px;
  height: 70px;
  margin: 0 auto;
  position: relative;
}
footer .top_foot_wrap .top_foot {
  text-align: center;
}
footer .top_foot_wrap .top_foot li {
  width: 50%;
  float: left;
}
footer .top_foot_wrap .top_foot li:nth-child(1) span:before {
  width: 26px;
  height: 26px;
  content: "";
  background: url('http://www.tkgroup.co.kr/_Template/Footer/tkgroup-kr/_Img/ftoplink_ico01.png') no-repeat;
  position: absolute;
  top: 23px;
  left: -6px;
}
footer .top_foot_wrap .top_foot li:nth-child(2) span:before {
  width: 26px;
  height: 26px;
  content: "";
  background: url('http://www.tkgroup.co.kr/_Template/Footer/tkgroup-kr/_Img/ftoplink_ico02.png') no-repeat;
  position: absolute;
  top: 23px;
  left: -6px;
}
footer .top_foot_wrap .top_foot a {
  position: relative;
  line-height: 70px;
}
footer .top_foot_wrap .top_foot a span {
  position: relative;
  display: inline-block;
  padding: 0 30px;
  color: #FFF;
  font-size: 14px;
}
footer .top_foot_wrap .top_foot a span:hover {
  text-decoration: underline;
}
footer .top_foot_wrap .top_foot a span i {
  margin-left: 25px;
}
footer .top_foot_wrap .top_foot a .txt {
  margin-left: 20px;
}
footer .down_foot_wrap {
  background-color: #080808;
  padding: 60px 0 80px 0;
}
footer .down_foot_wrap .down_foot {
  text-align: center;
}
footer .down_foot_wrap .down_foot .foot_logo {
  display: inline-block;
}
footer .down_foot_wrap .down_foot .txt {
  margin-top: 30px;
}
footer .down_foot_wrap .down_foot .txt span {
  display: inline-block;
  color: #CCC;
  font-size: 14px;
}
footer .down_foot_wrap .down_foot .txt .tel {
  display: inline-block;
}
footer .down_foot_wrap .down_foot .txt div {
  font-size: 11px;
  color: #535353;
  margin-top: 5px;
}
@media screen and (max-width: 1200px) {
  #nav .top_header .gnb {
    margin-left: 30px;
  }
  #nav .top_header .gnb > ul > li > a {
    font-size: 15px;
  }
  #nav .top_header .gnb .last a,
  #nav .top_header .gnb .last .snb_wrap {
    opacity: 0;
  }
  .section_wrap .content_start {
    padding: 0 10px;
  }
  .section_wrap .content_start .content_top .text {
    padding: 50px 0;
  }
  .section_wrap .content_start .content_top:after {
    top: -35%;
  }
  .section_wrap .content_start .content_end {
    padding: 0 10px;
  }
  .section_wrap .content_start .content_end .end_2 .grow_rev,
  .section_wrap .content_start .content_end .end_3 .grow_rev {
    position: relative;
    left: auto;
    top: auto;
    width: 125px;
    height: 48px;
    padding: 22px 55px 0 0;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  #nav .top_header .gnb {
    display: none;
  }
  .section_wrap .content_start .sub_nav {
    display: none;
  }
  .section_wrap .content_start .sub_nav2 {
    display: block;
  }
  .section_wrap .content_start .content_top .text {
    background: none;
  }
}
@media screen and (max-width: 700px) {
  .section_wrap .content_start .content_top:after {
    top: -36%;
  }
  .section_wrap .content_start .content_top .text {
    padding: 30px 0;
  }
  .section_wrap .content_start .content_top .text .vision_kr {
    font-size: 26px;
  }
  .section_wrap .content_start .content_top .text .left,
  .section_wrap .content_start .content_top .text .right {
    width: 40px;
    height: 40px;
    margin-top: -18px;
  }
  footer .top_foot_wrap .top_foot li a {
    display: block;
    margin: 15px 0;
    width: auto;
  }
  footer .top_foot_wrap .top_foot li a span {
    background: none;
    padding: 0 10px;
    font-size: 12px;
    line-height: 120%;
  }
  footer .top_foot_wrap .top_foot li a span i {
    display: none;
  }
  footer .top_foot_wrap .top_foot li:nth-child(1) a span:before {
    width: 30px;
    height: 34px;
    background: url('http://www.tkgroup.co.kr/_Template/Footer/tkgroup-kr/_Img/ftoplink_ico01.png') no-repeat center;
    top: -38px;
    left: 43px;
  }
  footer .top_foot_wrap .top_foot li:nth-child(2) a span:before {
    width: 30px;
    height: 34px;
    background: url('http://www.tkgroup.co.kr/_Template/Footer/tkgroup-kr/_Img/ftoplink_ico02.png') no-repeat center;
    top: -38px;
    left: 63px;
  }
  footer .top_foot_wrap {
    height: 75px;
  }
  footer .down_foot_wrap {
    padding: 60px 0;
  }
}
@media screen and (max-width: 600px) {
  .section_wrap .content_start .content_end .end_2 .grow_rev,
  .section_wrap .content_start .content_end .end_3 .grow_rev {
    font-size: 18px;
    width: 82px;
    height: 46px;
    line-height: 46px;
    padding: 0;
    padding-right: 40px;
    margin-bottom: 20px;
    background-size: auto 100%;
  }
}
@media screen and (max-width: 480px) {
  #nav .top_header h1.logo {
    height: 35px;
    width: 50px;
    left: 17px;
  }
  .section_wrap .top_image {
    height: 350px;
  }
  .section_wrap .content_start {
    margin-top: 350px;
  }
  .section_wrap .content_start .content_top .text {
    padding: 20px 0;
  }
  .section_wrap .content_start .content_top .text .vision_kr {
    font-size: 20px;
  }
  .section_wrap .content_start .content_top .text .left,
  .section_wrap .content_start .content_top .text .right {
    width: 35px;
    height: 35px;
    margin-top: -18px;
  }
  .section_wrap .content_start .content_top:after {
    top: -38%;
    background-size: 70%;
  }
  .section_wrap .content_start .content_middle .middle_1 h3 {
    font-size: 20px;
  }
  .section_wrap .content_start .content_middle .middle_1 .fir,
  .section_wrap .content_start .content_middle .middle_1 .sec {
    font-size: 30px;
  }
  .section_wrap .content_start .content_end {
    margin-top: 120px;
  }
  footer .down_foot_wrap {
    padding: 0 0 15px 0;
  }
  footer .down_foot_wrap .down_foot .txt {
    margin-top: 15px;
    padding: 0 15px;
  }
  footer .down_foot_wrap .down_foot .txt span {
    font-size: 12px;
  }
  footer .down_foot_wrap .down_foot .foot_logo img {
    width: 48px;
  }
  footer .top_foot_wrap .top_foot li a span {
    font-size: 11px;
  }
}
